{
	"env": {
		"node": true,
		"es6": true
	},
	"extends": "@weclapp",
	"parserOptions": {
		"ecmaVersion": 2018
	},
	"rules": {
		"indent": [
			"error",
			"tab"
		],
		"linebreak-style": [
			"error",
			"windows"
		]
	}
}
